<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social de Libros - Explorar</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="explorar">Explorar</a></li>
                <li><a href="mislibros">Mis libros</a></li>
                <li><a href="amigos">Amigos</a></li>
                <li><a href="perfil">Perfil</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>Explora nuevos libros</h2>
            <div class="book-list">
                <div class="book-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/640px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.5 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
                <div class="book-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/640px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.2 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
                <div class="book-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/640px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.7 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Red Social de Libros. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
