<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social de Libros</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="explorar">Explorar</a></li>
                <li><a href="mislibros">Mis libros</a></li>
                <li><a href="amigos">Amigos</a></li>
                <li><a href="perfil">Perfil</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <div>
                <h1 class="title">Bienvenido a la Red Social de Libros</h1>
                <p>Comparte tus lecturas favoritas, descubre nuevos libros y conéctate con otros amantes de la lectura.</p>
                <div>
                    <a href="registrarse" class="btn btn-primary">Regístrate</a>
                    <a href="iniciarsesion" class="btn btn-primary">Inicia sesión</a>
                </div>
            </div>
            <br>
            <div>
                <h2 class="subtitle">Libros destacados</h2>
                <div class="book">
                    <img src="https://www.freepnglogos.com/uploads/book-png/colorful-books-transparent-background-12.png" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                </div>
                <div class="book">
                    <img src="https://www.freepnglogos.com/uploads/book-png/colorful-books-transparent-background-12.png" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                </div>
                <div class="book">
                    <img src="https://www.freepnglogos.com/uploads/book-png/colorful-books-transparent-background-12.png" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Red Social de Libros. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
