<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social de Libros - Mis libros</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="explorar">Explorar</a></li>
                <li><a href="mislibros">Mis libros</a></li>
                <li><a href="amigos">Amigos</a></li>
                <li><a href="perfil">Perfil</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>Mis libros</h2>
            <div class="book-list">
                <div class="book-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1ova1iW7vR6xu63Uvunucf-m7SHC_Lky2Kg&usqp=CAU" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.5 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
                <div class="book-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1ova1iW7vR6xu63Uvunucf-m7SHC_Lky2Kg&usqp=CAU" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.2 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
                <div class="book-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1ova1iW7vR6xu63Uvunucf-m7SHC_Lky2Kg&usqp=CAU" alt="Título del libro">
                    <h3>Título del libro</h3>
                    <p>Autor: Nombre del autor</p>
                    <p>Género: Género del libro</p>
                    <p>Puntuación: 4.7 / 5</p>
                    <a href="#">Ir al libro</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Red Social de Libros. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
