<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social de Libros - Perfil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Inicio</a></li>
                <li><a href="explorar">Explorar</a></li>
                <li><a href="mislibros">Mis libros</a></li>
                <li><a href="amigos">Amigos</a></li>
                <li><a href="perfil">Perfil</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>Mi perfil</h2>
            <div class="profile">
                <div class="profile-picture">
                    <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-1/336751688_961661081487408_3149430187734730579_n.jpg?stp=c0.29.200.200a_dst-jpg_p200x200&_nc_cat=105&ccb=1-7&_nc_sid=7206a8&_nc_ohc=YS724Pv1QnUAX8KPAlT&_nc_ht=scontent.fmrd1-1.fna&oh=00_AfD_XKulL9LliOkqnhBVtBdF0VMil7iXIOTi1mxmKaDeKw&oe=649268DC" alt="Foto de perfil">
                </div>
                <div class="profile-info">
                    <h3>Información de perfil</h3>
                    <p>Nombre: Esteban Gómez</p>
                    <p>Correo electrónico: esteban.com</p>
                    <p>Ubicación: Mérida, Venezuela</p>
                    <a href="#">Editar perfil</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Red Social de Libros. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
